<section class="block container">
    <header class="block__header">
         <h2>Host On The Cloud to Keep Growing</h2>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, quibusdam?</p>
    </header>
    <div class="grid grid--1x2 feature">
        <div class="feature__content">
         <span class="icon-container">
             <svg class="icon icon--primary">
                 <use xlink:href="images/sprite.svg#easy"></use>
             </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quia soluta optio obcaecati ipsam assumenda enim dolorum, porro odio asperiores incidunt error doloremque molestias quasi et nesciunt consectetur beatae totam similique eligendi voluptatum cupiditate doloribus numquam. Magnam ipsum in aspernatur iste ratione voluptatibus tempore. Illum quaerat sit delectus iure debitis?
            </p>
            <a href="#" class="link-arrow">Learn More</a>
         </div>
         <picture class="feature__img">
             <source type="image/webp" srcset="images/easy.webp 1x,images/easy@2x.webp 2x">     
             <source type="image/jpeg" srcet="images/easy.jpg 1x,images/easy@2x.jpg 2x">
             <img src="images/easy.jpg" alt="">
         </picture>
    </div>

</section>
<section class="block container">
 <div class="grid grid--1x2 feature">
     <picture class="feature__img">
         <source type="image/webp" srcset="images/fast.webp 1x,images/fast@2x.webp 2x">
         <source type="image/jpeg" srcet="images/fast.jpg 1x,images/fast@2x.jpg 2x">
         <img src="images/fast@2x.jpg" alt="">
     </picture>
     <div class="feature__content">
      <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
         </span>
         <h3 class="feature__heading">Super Easy to Use</h3>
         <p>
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quia soluta optio obcaecati ipsam assumenda enim dolorum, porro odio asperiores incidunt error doloremque molestias quasi et nesciunt consectetur beatae totam similique eligendi voluptatum cupiditate doloribus numquam. Magnam ipsum in aspernatur iste ratione voluptatibus tempore. Illum quaerat sit delectus iure debitis?
         </p>
         <a href="#" class="link-arrow">Learn More</a>
      </div>
 </div>

</section>